@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    color: rgb(46, 48, 51);
    background-color: rgb(238, 238, 238);
    overflow-x: hidden;
}

/* navbar */
nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    box-shadow: 1px 2px 3px rgb(170, 170, 170);
    align-items: center;
}

nav .logo{
    font-size: 20px;
}

nav .logo:hover{
    color: rgb(0, 0, 0);
    transition-duration: 0.25s;
}

nav ul{
    display: flex;
    font-size: 16px;
    list-style: none;
    justify-content: space-between;
}

header nav ul a{
    text-decoration: none;
    color: inherit;
    width: 40px;
    text-align: center;
    margin-right: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgb(170, 170, 170);
}

nav ul a:hover{
    background: rgb(46, 48, 51);
    color: white;
    transition: all 1s;
    cursor: pointer;
}

/* hamburger menu */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 18px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -5px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(46, 48, 51);
    border-radius: 3px;
    transition: all 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background: rgb(78, 80, 83);
    opacity: 0.5;
    transform: rotate(45deg) translate(-2px, -4px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background: rgb(78, 80, 83);
    opacity: 0.5;
    transform: rotate(-45deg) translate(1px, 1px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}


/* responsif brekpoint */
@media screen and ( max-width: 768px ) {
    
}

/* responsif brekpoint mobile */
@media screen and ( max-width: 576px ) {
    nav ul{
        position: absolute;
        right: 0;
        width: 130px;
        flex-direction: column;
        background-color: white;
        top: 0;
        height: 40vh;
        align-items: center;
        justify-content: space-evenly;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
        border-radius: 5px;
        box-shadow: 1px 2px 3px rgb(170, 170, 170);
        z-index: -1;
    }

    nav ul.slide{
        opacity: 1;
        transform: translateY(20%);
    }

    .menu-toggle {
        display: flex;
    }
}